.primary-color {
  color: var(--primary-color);
}

.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--primary-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--hover-color);
  color: var(--bg-0);
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 1px dashed var(--hover-color);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--border-color);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px solid var(--primary-color);
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: var(--text-0);
  color: var(--bg-0);
}

time {
  color: grey;
}

/* div around button to center it */
.button-div {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--bg-0);
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  border: 1.5px dashed var(--hover-color);
  color: var(--text-0);
  padding: 10px 10px;
  margin: 4px 2px;
}

/* Remove post list padding */
@media screen and (max-width: 600px) {
  .list>ul {
    margin: 0;
    padding: 0;
  }
}